<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Menu</title>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  <link rel="stylesheet" href="{{- 'assets/svg-stylesheet.css' | relative_url -}}" />
  <link rel="stylesheet" href="{{- 'assets/style.css' | relative_url -}}" />
</head>

<body>
  <h1 class="title">Menu</h1>
  <hr />
  <div class="schema">
    {% include Mehdi-v2.svg %}
  </div>
  <hr />
  <div class="content">
    {{ content }}
  </div>

  {% for item in site.body_parts %}
    <h2>{{ item.title }}</h2>
    <p>{{ item.description }}</p>
    <p><a href="{{ item.url }}">{{ item.title }}</a></p>
  {% endfor %}
</body>
</html>
