.App {
  text-align: center;

  display: flex;
  flex-flow: row wrap;
}

.App-header {
  flex: 1 100%;

  background-color: #222;
  padding: 20px;
  color: white;
}

.App-sidebar {
  flex: 1;
}

.App-footer {
  margin-top: 20px;
  flex: 1 100%;
}

.App-detailed-slice {
  flex: 3;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
