.detailed-slice {
  background-color: #111;
  width: 90%;
  margin: 10px;
  padding: 10px;
}

.detailed-slice__image-container {
  position: relative;
  width: 625px;
  height: 440px;
  margin: auto;
}

.detailed-slice__image {
  /* Half the original size */
  width: 625px;
  height: 440px;

  position: absolute;
  left: 0;
  top: 0
}
