body {
  font-family: sans-serif;
}

.schema {
  text-align: center;
}

.title {
  text-align: center;
}

.menu-caption {
  font-family: 'Verdana';
  transition: fill 0.5s, font-size 0.5s;
  font-size: 14px;
}

.menu-head-caption {
  font-family: 'Verdana';
  font-weight: bold;
}

.menu-caption:hover {
  cursor: pointer;
  text-decoration: underline;
  fill: #00A99D;
  font-size: 16px;
}
