.slice-view {
  width: 80%;
  position: relative;
  margin: 10px auto;
  height: 100px;
  background-color: #cde;
}

.slice-view__slice-number {
  font-size: 2em;
  font-weight: lighter;
}

.slice-view__progress-bar {
  position: absolute;
  border-bottom: 3px solid #7f1c39;
  top: 0;
  height: 50%;
  width: 100%;
}
